.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: var(--bg-box-color-little-light);
    border-radius: var(--box-round);
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: var(--box-round);
}

.card .title {
    font-size: var(--font-big);
    font-weight: 800;
}

.play {
    position: relative;
}

.play .fa-circle-play {
    position: absolute;
    right: 5px;
    top: -100px;
    padding: 0px;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    font-size: 50px;
    opacity: 0;
    transition: all ease 0.4s;
}

.card:hover .play .fa-circle-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play:hover {
    cursor: pointer;
}